<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="clients-manager">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container">
            <div class="row">
                <h2>Clients Manager</h2>
                <button type="button" on-click="getClients" class="btn btn-primary">Get Clients</button>
                <button type="button" on-click="insertClient" class="btn btn-outline-dark">Add Client</button>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <tbody>
                        <template is="dom-repeat" items="{{clients}}">
                            <tr>
                                <td>[[item.idcliente]]</td>
                                <td>[[item.nombre]]</td>
                                <td>[[item.apellido]]</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ClientsManager extends Polymer.Element {
            static get is() { return 'clients-manager'; }
            static get properties() {
                return {
                    clients: {
                        type: Array,
                        notify: true
                    }
                };
            }
            getClients() {
                var request = new XMLHttpRequest();
                request.open("GET", "http://localhost:3002/clients", false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                this.clients = JSON.parse(request.responseText);
                console.log(this.clients);
            }
            insertClient() {
                var request = new XMLHttpRequest();
                request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
                request.setRequestHeader("Accept", "application/json");
                request.setRequestHeader("Content-Type", "application/json");
                var newClient = { "CustomerId": 12345, "ContactName": "Pepe", "CompanyName": "Pepes erotik shop" };
                var body = JSON.stringify(newClient);
                request.send(body);
                this.getClients();
                Console.log(response.responseText);
            }
        }

        window.customElements.define(ClientsManager.is, ClientsManager);
    </script>
</dom-module>