<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-viewer">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" style="width: 40px; height: 70px;" src="https://image.flaticon.com/icons/svg/1654/1654387.svg" alt="soccer" />
      </div>
      <div class="row">
        <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="incrementar" >Cargar datos</button>
      <input type="text" value="{{prop1::input}}">
      <input type="text" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
          </thead>
          <tbody>
            <tr>
              <td>1000[[prop2]]</td>
              <td>Elena</td>
              <td>Nieto del Bosque</td>
            </tr>
            <tr>
              <td>10002</td>
              <td>Leandro</td>
              <td>Gao</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyViewer extends Polymer.Element {
      static get is() { return 'my-viewer'; }
      static get properties() {
        return {
          prop1: {
            type: String
            //value: 'my-viewer'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      incrementar(){
        this.prop2 +=1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MyViewer.is, MyViewer);
  </script>
</dom-module>